

@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Ubuntu');


*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
	list-style: none;
	font-family: 'Ubuntu', sans-serif;
}

body{
	background:#84CEEB;
	background-repeat: no-repeat;
	background-size: cover;

}
/* form starts */
.radio-inline{
	cursor: pointer;
}

.feed-section{
	padding: 40px 0;
	/* background: linear-gradient(to bottom, rgba(182, 22, 1, 0.466) , rgba(1, 143, 44, 0.5)); */
	background:#0a0a0a;
  }
  .feed-section h1{
	text-align: center;
	color: rgb(255, 255, 255);
  }
  .feed-section p{
	text-align: center;
	color: rgb(255, 255, 255);
	margin: 1rem;
  }
 .feed-section .border{
	width: 100px;
	height: 10px;
	background:  #FFD900;
	margin: 40px auto;
  }
  
  .feed-form{
	max-width: 600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
  }
  .feed-form .rate{
	text-align: left;
	color:black;
	padding-left: 0;
	padding-bottom: 1rem;
	font-weight: lighter;
  }
  .feed-form .radio-inline{
	padding:1rem;
	margin-bottom: 1rem;
  }
  
  .feed-form-text{
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
	background: rgb(255, 255, 255);
	padding: 20px 40px;
	outline: none;
	color:  #091f36;
	transition: 0.5s;
  }
  .feed-form-text:focus{
	box-shadow: 0 0 10px 4px #FFD900;
  }
  textarea.feed-form-text{
  
	resize: none;
	height: 120px;
  }
  .feed-form-btn{
	float: left;
	border: 0;
	background: #091f36;
	color: #fff;
	padding: 12px 50px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;
  }
  .feed-form-btn:hover{
	background:  #FFD900;
  }
  /* form ends */