body{
    background-image: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)) , url('../images/C4.jpg') ;
    background-size: cover ;
    background-position: center;
}
.container{
    max-width: 700px;
    
    float: none;
    margin:150px auto;
}
h2{
    color: rgba(255, 255, 255, 0.87);
}
.login{
    background-color: cadetblue;
    border-radius: 1.5em;
    padding: 30px;
}

.form-control{
    background-color: transparent !important;
}
a{
    color: #fff !important;
}
.logout{
    color: #fff !important;
    margin-top: -200px;
    
    border: 1px solid #fff;
    padding: 2px;
}

h1{
    color: #fff !important;
    margin-top: 200px !important ;
    text-align: center;
    text-transform: uppercase;
}